.map{
    height: 300px;
    width: 100%;
}

.map-card{
    margin-top: 15px;
}



.search-bar{
    margin-bottom: 15px;
}

.search-button,
.search-button:visited{
    background-color: coral !important;
    border-color: coral !important;
    color:white;
    box-shadow: none !important;
}

.search-button:hover,
.search-button.active
.btn-warning{
    color: rgb(255, 170, 139);
    box-shadow: none !important;
}

.map-title-div{
    display: flex;
}
.map-search-div{
    margin-bottom: 10px;
}
.map-option-div{
    width:50%;
}

.form-select{
    width:70%;
    font-size: 10px;
    float: right;
}

.btn-food button,
.btn-price button{
    font-size: 10px;
    height: 30px;
    font-weight: bold;
}

.btn-food{
    margin-right: 10px;
}

.btn-food button,
.btn-price button{
    color: coral;
    border-color: coral;
    box-shadow: none !important;
    background-color: #fff;
}

.btn-food button:hover,
.btn-food button:visited,
.btn-outline-secondary.active,
.btn-price button:hover,
.btn-price button:visited{
    color: #fff;
    background-color: coral;
    border-color: coral;
    box-shadow: none !important;
}

.btn-recommend{
    font-size: 10px;
    height: 30px;
    font-weight: bold;
    margin-right: 10px;
    color: #fff;
    background-color: coral !important;
    border-color: coral !important;
    box-shadow: none !important;
}
.btn-recommend:visited,
.btn-recommend:hover{
    font-size: 10px;
    height: 30px;
    color: rgb(255, 170, 139);
    box-shadow: none !important;
}

span {
    margin-right: 7px;
    font-size: 13px;
}

@media (max-width: 1025px) {
    .map-card{
        width: 100%;
    }
}
@media (min-width: 1025px) {
    .map-card{
        width: 100%;
    }
    .btn-price{
        margin-top: 7px;
    }
}
@media (min-width: 1210px){
    .btn-price{
        margin-top: 0px;
    }
}
@media (max-width: 662px){
    .btn-price{
        margin-top: 7px;
    }
}
@media (max-width: 604px){
    .btn-recommend{
        display: block;
        width: 100%;
        height: 38px;
        font-size: 16px;
    }
    .btn-recommend:visited,
    .btn-recommend:hover{
        font-size: 16px;
        height: 38px;
        color: rgb(255, 170, 139);
        box-shadow: none !important;
    }
    .btn-food{
        margin-top: 10px;
        display: flex;
        width: 100%;
    }
    .btn-price{
        margin-top: 7px;
        display: flex;
        width: 100%;
    }
}