.copy-img{
    margin-left: 3px;
    width: 12px;
}

.table-title-div{
    display: flex;
}

.card-title-div{
    width: 50%;
}

@media (max-width: 1025px) {
    .table-card{
        width: 100%;
    }
}
@media (min-width: 1025px) {
    .table-card{
        width: 100%;
    }
}
