.title-link,
.title-link:hover{
    color: #344767;
    text-decoration: none;
    font-weight: bold;
}
.user-div{
    display:flex;
}
.nickname{
    color: #344767;
    text-decoration: none;
    font-weight: bold;
    align-items: center;
}

@media (max-width: 768px){
    .user-div{
        display:flex;
        flex-direction: row-reverse;
        float: left;
    }
    .me-auto{
        margin-left: 10px;
    }
    .rounded-circle{
        width: 25px;
    }
}

.dropdown-manu,
.dropdown-manu:hover{
    font-weight: 400;
    color: #212529;
}

.login-link,
.login-link:hover{
    color: #677482;
    font-size: 14px;
    text-decoration: none;
    text-align: left;
    margin: 3px;
}