.modify-div{
    display: flex;
    justify-content: center;
}
.modify-div .card{
    width: 300px;
    margin-top: 20px;
}

#modify-name{
    margin-right: 2px;
}

.bracket,
#modify-id{
    color: gray;
    font-size: 13px;
}
.card-img{
    width: 100%;
    height: 200px;
    object-fit: cover;
}
.pwchange-text,
.menulist-text{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 7px;
    text-align: left;
}
.pwchange-text{
    margin-top: 10px;
}

.modify-btn{
    width: 100%;
    background-color: coral !important;
    border-color: coral !important;
}
.modify-back-btn{
    width: 100%;
    background-color: #fff !important;
    color: coral !important;
    border-color: coral !important;
    margin-top : 5px;
}

.modify-input{
    height: 35px;
    margin-bottom: 10px;
    font-size: 14px;
}

.modify-name-div{
    margin-top: 10px;
}